networks:
  app-network:
    driver: bridge

services:
  web:
    build: ./front
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      - backend
  backend:
    build: ./back
    ports:
      - "3000:3000"
    volumes:
      - ./back:/app
      - /app/node_modules
    networks:
      - app-network
    restart: unless-stopped
