@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-mainbg-light: #f3f4f6;
	--color-mainbg-dark: #1f2937;
	--color-blockbg-light: #d1d5db;
	--color-blockbg-dark: #334155;
	--color-blocksec-light: #bac0ca;
	--color-blocksec-dark: #475569;
	--color-text-light: #20293b;
	--color-text-dark: #f3f4f6;
	--color-btnbg-light: #5bd1c3;
	--color-btnkbg-dark: #43aba4;
	--color-btnhover-light: #0d9488;
	--color-btnkhover-dark: #134e4a;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

